@charset "utf-8";
.joy{
	height: 500px;
	width: 100%;
	margin-bottom: 30px;
}
.joy .joy-con{
	height: 500px;
	width: 1190px;
	margin: 0 auto;
	position: relative;
	/*background-color: pink;*/
}
.joy .joy-con .box{
	height: 240px;
	width: 390px;
	margin:0 10px 10px 0;
	float: left;
	/*position: relative;*/
	background-color: #fff;
}
.joy .joy-con .right{
	margin: 0 0 10px 10px;
	position: absolute;
	right: 0;
}
.joy .joy-con .right-bottom{
	margin: 0 0 10px 10px;
	position: absolute;
	right: 0;
	top: 250px;
}
.joy .joy-con .box .box-top{
	height: 100px;
	width: 390px;
	position: relative;
	background-color: #654C3B;
}
.joy .joy-con .box .box-top img{
	    opacity: 0.6;
	    filter: blur(2px);
}
.joy .joy-con .box .box-top  div{
	height: 100%;
	width: 100%;
	line-height: 100px;
	text-align: center;
	color: #fff;
	position: absolute;
	font-size: 18px;
	top: 0;
}
.joy .joy-con .box .box-top  div h4{
	display: inline-block;
}
.joy .joy-con .box .box-bottom{
	height: 110px;
	width: 360px;
	margin: 10px 15px 0 15px;
	/*background-color: green;*/
}
.joy .joy-con .box .box-bottom div{
	height: 110px;
	width: 110px;
	float: left;
	margin: 0 5px;
	/*background-color: yellow;*/
}
.espe{
	height: 385px;
	width: 100%;
	margin-bottom: 30px;
	/*background-color: pink;*/
}
.espe .espe-con{
	height: 340px;
	width: 1190px;
	margin: 0 auto;
	position: relative;
	/*background-color: #fff;*/
}
.espe .espe-con div{
	height: 330px;
	width: 390px;
	float: left;
	/*margin: 0 10px 30px 0px;*/
	background-color: #fff;
}
.espe .espe-con div:nth-child(2){
	position: absolute;
	/*margin-right: 0;*/
	right: 400px;
}
.espe .espe-con div:nth-child(3){
	position: absolute;
	right: 0;
}
.espe .espe-con div .esp-ico{
	height: 60px;
	width: 350px;
	padding: 0 20px;
	line-height: 60px;
	position: relative;
	text-align: center;
	/*background-color: yellow;*/
}
.espe .espe-con div .esp-ico a{
	color: #999;
	text-decoration: none;
}
.espe .espe-con div .esp-ico a h3{
	float: left;
    font-weight: normal;
    font-size: 22px;
    color: #222;
}
.espe .espe-con div .esp-ico a i {
	float: left;
	position: relative;
	left: 4px;
	top: 5px;
}
.espe .espe-con div .esp-ico a span{
	float: left;
	font-size: 14px;
	position: relative;
	left: 9px;
}
.espe .espe-con div .espe-imge{
	height: 250px;
	width: 350px;
	position: absolute;
	left: 20px;
	top: 70px;
	/*background-color: red;*/
}
.live{
	height: 455px;
	width: 100%;
	margin-bottom: 30px;
	/*background-color: pink;*/
}
.live img{
	opacity: 0.7;
}
.live img:hover{
	opacity: 0.9;
}
.live .live-con .live-move .btn-img{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 65px;
	left: 55px;
	/*background-color: red;*/
}
.live .live-con .live-move .con-tt{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #121212;
}
.live .live-con .live-move .con-tt h1{
	height: 24px;
	width: 150px;
	position: absolute;
	bottom: 80px;
	left: 99px;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
}
.live .live-con .live-move .con-tt p{
	height: 24px;
	width: 150px;
	position: absolute;
	bottom: 40px;
	left: 90px;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding: 0 10px;
}
.live .live-con .live-move .btn-img-big{
	height: 60px;
	width: 60px;
	position: absolute;
	top: 184px;
	left: 162px;
	/*background-color: red;*/
}
.live .live-con{
	height: 425px;
	width: 1190px;
	position: relative;
	margin: 0 auto;
	/*background-color: #fff;*/
}
.live .live-con .live-move{
	height: 425px;
	width: 390px;
	float: left;
	position: relative;
	margin: 0 10px 30px 0;
	background-color: #fff;
}
.live .live-con .live-move:nth-child(3){
	position: absolute;
	right: 0;
	margin-right: 0;
}
.live .live-con .live-move .live-img .image-ul{
	height: 190px;
	width: 170px;
	float: left;
	margin: 0 5px 10px 0;
	position: relative;
	overflow: hidden;
	background-color: #121212;
}
.live .live-con .live-move .live-img .image-ul p{
	height: 24px;
	width: 150px;
	position: absolute;
	bottom: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding: 0 10px;
}
.live .live-con .live-move .live-img .image-ul:nth-child(2){
	position: relative;
	left: 5px;
}
.live .live-con .live-move .live-img .image-ul:nth-child(4){
	position: relative;
	left: 5px;
}
.live .live-con .live-move .live-img{
	height: 390px;
	width: 350px;
	padding: 5px;
	margin: 15px;
	/*background-color: red;*/
}
.bigshow{
	height: 7245px;
	width: 100%;
	/*background-color: pink;*/
}
.bigshow .bigshow-con{
	height: 7245px;
	width: 1200px;
	margin: 0 auto;
	/*background-color: pink;*/
}
.bigshow .bigshow-con ul{
	height: 315px;
	width: 1200px;
	position: relative;
	/*background-color: #fff;*/
}
.bigshow .bigshow-con ul li{
	list-style: none;
	height: 305px;
	width: 230px;
	position: relative;
	background-color: #fff;
	margin: 0 5px 10px;
	overflow: hidden;
	color: #333;
	float: left;
}
.bigshow .bigshow-con ul li a{
	text-decoration: none;
	color: #333;
}
.bigshow .bigshow-con ul li .bigshowimage{
	height: 170px;
	width: 170px;
	overflow: hidden;
	margin: 30px 30px 20px 30px;
	/*background-color: yellow;*/
}
.bigshow .bigshow-con ul li .bigshowinfo{
	height: 80px;
	width: 210px;
	padding: 0 10px;
	position: relative;
	/*background-color: green;*/
}
.bigshow .bigshow-con ul li .bigshowinfo p{
	height: 36px;
	width: 200px;
	line-height: 18px;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
	color: #666;
	overflow: hidden;
}
.bigshow .bigshow-con ul li .bigshowinfo span{
	display: inline-block;
	width: 60px;
	height: 18px;
	position: relative;
	float: left;
	color: #E33333;
	top: 7px;
	left: 70px;
}